<!DOCTYPE html>
<html>
<head>
 <title> CarSafe </title>
<style>
div{
margin: 200px 100px 100px 100px;
}
</style>
</head>
<body>
    <body style="background-color:lightGray;">
        <div>
            <h1 style="text-align:center;"><a href="afterlogin.html">CarSafe</a></h1>
            <p style="text-align:center;">가상번호 연결프로그램</p>
            <h2 style="text-align:center;"><a href="myQrCode">나의 QR코드</a></h2>
            <h2 style="text-align:center;"><a href="mypage.html">회원정보 수정</a></h2>
            <h5 style="text-align:center;"><a href="leave.html">탈퇴하기</a></h5>
            <h5 style="text-align:center;"><a href="leave.html"></a></h5>
            <p>id: <%= id %></p>
        </div>
    </body>
</html>