<!DOCTYPE html>
<html>

<head>
 <title> Safe Car </title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta name="description" content="">
 <meta name="author" content="">

 <!-- Bootstrap core CSS -->
 <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

 <!-- Custom fonts for this template -->
 <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
 <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
 <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

 <!-- Plugin CSS -->
 <link rel="stylesheet" href="/device-mockups/device-mockups.min.css">

 <!-- Custom styles for this template -->
 <link href="/css/new-age.min.css" rel="stylesheet">

 <style>
  .mymargin {
      margin: 10px;
  }
 </style>
</head>


<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Safe Car</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="">Manual</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="">My QR Code</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="">My Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href=""></a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    <header class="masthead" style="height:100%;">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-1"></div>
          <div class="col-10 my-auto"><!--style="background-color:rgba(255,255,255,0.50); height: 320 px"-->
                    <div style="text-align:center;">
                      <h3 style="">안녕하세요, <%= id %>님. </h3>
                      <h7 style="color:rgba(255,255,255,0.7);">Safe Car를 이용해 주셔서 감사합니다.</h7>
                      <hr style="color:rgba(255,255,255,0.7); border-color:rgba(255,255,255,0.7);">
                      <br>
                    </div>
                      <div class="row">
                        <a href="./myQrCode" class="col mymargin btn btn-outline btn-xl js-scroll-trigger">QR 코드 조회</a>
                      </div>
                      <div class="row">
                      <a href="./mypage.html" class="col mymargin btn btn-outline btn-xl js-scroll-trigger">개인정보 수정</a>
                      </div>
                      <div class="row">
                      <a href="" class="col mymargin btn btn-outline btn-xl js-scroll-trigger">로그아웃</a>
                      </div>
                      <div class="row">
                      <a href="./leave.html" class="col mymargin btn btn-outline btn-xl js-scroll-trigger">탈퇴하기</a>
                      </div>
                      
                      <!--
                      <h1 style="text-align:center;"><a href="carsafe.html">CarSafe</a></h1>
                      <form method="post" action="/login/afterlogin">
                      <p style="text-align:center;"><input type="id" name="id" value="id"></p>
                      <p style="text-align:center;"><input type="password" name="password" value="password"></p>
                      <p style="text-align:center;"><input type="submit" value="Login"></p>
                      -->
                      </form>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </header>
    

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/new-age.min.js"></script>

</body>
</html>


<!--
<html>
<head>
 <title> CarSafe </title>
<style>
div{
margin: 200px 100px 100px 100px;
}
</style>
</head>
<body>
    <body style="background-color:lightGray;">
        <div>
            <h1 style="text-align:center;"><a href="./afterlogin">CarSafe</a></h1>
            <p style="text-align:center;">가상번호 연결프로그램</p>
            <h2 style="text-align:center;"><a href="./myQrCode">나의 QR코드</a></h2>
            <h2 style="text-align:center;"><a href="./mypage.html">회원정보 수정</a></h2>
            <h5 style="text-align:center;"><a href="./leave.html">탈퇴하기</a></h5>
            <h5 style="text-align:center;"><a href="./leave.html"></a></h5>
            <p>id: <%= id %></p>
        </div>
    </body>
</html>
-->