<!DOCTYPE html>
<html>
<head>
 <title> CarSafe </title>
<style>
div{
margin: 200px 100px 100px 100px;
}
</style>
</head>
<body>
<body style="background-color:lightGray;">
<div>
<h1 style="text-align:center;"><a href="carsafe.html">CarSafe</a></h1>
<p style="text-align:center;">가상번호 연결프로그램</p>
<h2 style="text-align:center;"><a href="login.html">로그인하기</a></h2>
<h2 style="text-align:center;"><a href="">QR코드 촬영하기</a></h2>
<h5 style="text-align:center;"><a href="join.html">회원가입하기</a></h5>
</div>
</body>
</html>