<!DOCTYPE html>
<html>
<head>
 <title> CarSafe </title>
<style>
div{
margin: 200px 100px 100px 100px;
}
</style>
</head>
<body>
<body style="background-color:lightGray;">
<div>
<h1 style="text-align:center;"><a href="carsafe.html">CarSafe</a></h1>
<form action="">
<p style="text-align:center;">ID:<br>
<input type="text" name="id"></p>
<p style="text-align:center;"> pw:<br> 
<input type="password" name="password"></p>
<p style="text-align:center;">phonenumber: <br>
<input type="text" name="phonenumber"></p><br>
<p style="text-align:center;"><input type="submit" value="Join">
</div>
</form>
</body>
</html>