<!DOCTYPE html>
<html>
<head>
<title> CarSafe </title>
<style>
div{
margin: 200px 100px 100px 100px;
}
</style>
</head>
<body>
    <body style="background-color:lightGray;">
        <div>
            <h2 style="text-align:center;"> My QR Code </h2>
            <p style="text-align:center;"><img src= <%= qr_image %> width="300" height="300"></p>
        </div>
    </body>
</html>