<!DOCTYPE html>
<html>
<head>
 <title> CarSafe </title>
<style>
div{
margin: 200px 100px 100px 100px;
}
</style>
</head>
<body>
    <body style="background-color:lightGray;">
        <div>
            <h1 style="text-align:center;">fakeNum: <%= fakeNum %></h1>
        </div>
    </body>
</html>