<!DOCTYPE html>
<html>
<head>
        <title> Safe Car </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
       
        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
       
        <!-- Custom fonts for this template -->
        <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
       
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="/device-mockups/device-mockups.min.css">
       
        <!-- Custom styles for this template -->
        <link href="/css/new-age.min.css" rel="stylesheet">
       
        <style>
         .mymargin {
             margin: 10px;
         }
        </style>
</head>
<body>

    <header class="masthead" style="height:100%;">
        <div class="container h-100">
            <div class="row h-100">
            <div class="col-1"></div>
            <div class="col-10 my-auto"><!--style="background-color:rgba(255,255,255,0.50); height: 320 px"-->
                        <div style="text-align:center;">
                        <h7 style="color:rgba(255,255,255,0.7);">
                            해당 QR코드 번호에 전화를 하고 싶으시면 아래의 버튼을 눌러주세요.
                        </h7>
                        <hr style="color:rgba(255,255,255,0.7); border-color:rgba(255,255,255,0.7);">
                        <br>
                        </div>
                        <div class="row">
                        <a href="tel:<%= fakeNum %>" class="col mymargin btn btn-outline btn-xl js-scroll-trigger">
                            fakeNum:<%= fakeNum %>
                        </a>
                        </div>
                        
                        <!--
                        <h1 style="text-align:center;"><a href="carsafe.html">CarSafe</a></h1>
                        <form method="post" action="/login/afterlogin">
                        <p style="text-align:center;"><input type="id" name="id" value="id"></p>
                        <p style="text-align:center;"><input type="password" name="password" value="password"></p>
                        <p style="text-align:center;"><input type="submit" value="Login"></p>
                        -->
                        </form>
            </div>
            <div class="col-1"></div>
            </div>
        </div>
    </header>
    

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/new-age.min.js"></script>
</html>